@import url("reset.css");

body {
  color: #eee;
  background-color: #222;
  user-select: none;
}
.content {
  display: inline-block;
  font-family: Garamond, Times, serif;
  font-size: 22px;
  line-height: 1.4em;
  padding: .3em;
  margin: 3em;
}
.head {
  font-size: 1.7em;
  font-style: normal;
  padding-bottom: .4em;
  margin-bottom: .4em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px dashed silver;
  text-shadow: 2px -2px 6px silver;
}
.subhead {
  text-align: right;
}
.git {
  color: lightblue;
}
.git:hover, .git:focus {
  color: skyblue;
}
.author {
  font-size: .85em;
  text-align: right;
}