/* mobile CSS */

body[data-mobile] {
  margin: 0;
  padding: 0 0 0 5em;
  font-size: 12px !important;
  overflow-x: hidden;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
}
.PanelResources {
  height: auto;
  position: static;
  display: block;
  font-size: 1.2em;
  padding: 4px;
  border: 1px solid #333;
  border-width: 1px 0;
}
.panel_res_link {
  height: auto;
  position: static;
  margin: 0 1%;
}
.panel_res_link:first-child {
  margin-left: 0;
}
.panel_res_link:last-child {
  margin-right: 0;
}
#heart,
.panel_res_link > img {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}
.panel_res {
  position: static;
  margin: 0;
  padding: 0 2px;
  vertical-align: middle;
}
#android_buttons_panel {
  width: auto;
  height: 100%;
  bottom: 0;
  background: url("https://dcdn.heroeswm.ru/i/mobile_view/bg_quickPanel.jpg");
  z-index: 10;
}
#android_buttons_inside {
  height: 100%;
  margin-top: 5em;
  background: none;
  overflow-y: auto;
}
.panel_img_link {
  width: 5em;
  height: auto;
  margin: 1.6em 0 0;
  margin-top: 2.6vh;
  cursor: pointer;
}
.panel_img_link:empty {
  display: none;
}
.panel_img_link > img {
  width: 100%;
  height: auto;
}
.PanelBottomNotification {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  overflow: hidden;
}
.PanelBottomNotification > img {
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
#menuGlobal {
  z-index: 12;
}
#btnMenuGlobal {
  width: 5em;
  height: 5em;
  right: auto;
  left: 100%;
  cursor: pointer;
}
.menu_btns_container img {
  height: 1em;
}
#android_main,
#android_container {
  overflow-y: hidden;
}

@media screen and (max-height: 590px) {
  body[data-mobile] {
    padding: 5em 0 0;
  }
  #android_buttons_panel {
    width: 100%;
    height: auto;
    bottom: auto;
  }
  #android_buttons_inside {
    height: 100%;
    margin: 0 0 0 5em;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
  }
  .panel_img_link {
    display: inline-block;
    margin: 0 0 0 4%;
  }
  .panel_img_link:first-child,
  .panel_img_link:empty + .panel_img_link {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  body[data-mobile] {
    padding: 5em 0 0;
  }
  #android_buttons_panel {
    width: 100%;
    height: auto;
    bottom: auto;
  }
  #android_buttons_inside {
    height: 100%;
    margin: 0 0 0 5em;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
  }
  .panel_img_link {
    display: inline-block;
    margin: 0 0 0 4%;
  }
  .panel_img_link:first-child,
  .panel_img_link:empty + .panel_img_link {
    margin-left: 0;
  }
}
